{% extends 'base.html' %}

{% block content %}
<h1>Order Summary</h1>
<p>Product: {{ order.product.name }}</p>
<p>Quantity: {{ order.quantity }}</p>
<p>Total Amount: ${{ order.total_amount }}</p>

<form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Proceed to Payment</button>
</form>
{% endblock %}