{% extends 'base.html' %}

{% block content %}
<h1>Payment Successful</h1>
<p>Order ID: {{ order.id }}</p>
<p>Total Amount: ${{ order.total_amount }}</p>
<p>Payment Method: {{ payment_detail.get_payment_method_display }}</p>
{% endblock %}